$primary: #3b82f6;
$success: #10b981;
$danger: #ef4444;
$info: #ec4899;

$theme-colors: (
  'purple': #8b5cf6,
  'pink': #e83e8c,
);

$border-radius: 0.375rem;
$border-radius-sm: 0.375rem;
$border-radius-lg: 0.4rem;
