$primary: #3B82F6;
$success: #10B981;
$danger: #EF4444;
$info:  #EC4899;

$theme-colors: (
  "purple": #8B5CF6
);

$btn-border-radius: 0.375rem;
$btn-border-radius-sm: 0.375rem;
$btn-border-radius-lg: 0.375rem;