// partner-profile
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  width: 230px;
}

//end partner profile

.myCustomClass {
  .open-feed{
    width: 19px;
    right: 50px;
    top: 25px;
    cursor: pointer;
    z-index: 900;
    -webkit-transform: scale(0);
    transform: scale(0);
}




}
